.citacao {
	background-color: #D9E5E3;
	border: .5em solid #C2CCCA;
	width: 30ch;
	margin: 1em 2em;
	box-sizing: border-box;
	border-bottom-color: #333;
	border-right-color: #FFF;
}

.fiat {
	float: right;
}

.petrobras {
	float: left;
}

cite {
	font-style: italic;
	float: right;
}