/* transform: rotate(30deg)
scale(1.5) aumenta em 1,5 vezes
skew(20deg)
translate(10px, 50px); */
.foto-home { 
    height: 200px;
    border-radius: 50%;
}

.saudacao p {
    font-size: 1.5em;
    color: #99A;
    line-height: 1;
    padding: 2em;
}

.saudacao-inicio {
	font-size: 3em;
    color: #889;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    color: #000;
    font-size: 2em;
}

.saudacao em {
    color: #851944;
    font-size: 4em;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg);
}

.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    margin: 2em auto;
	border-radius: 10px;
}

.secao-inicio {
	padding: 2em;
}

.secao-inicio h2 {
    font-size: 3em;
    text-transform: uppercase;
    margin-bottom: .5em;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    overflow: hidden;
    border: .5em solid black;
}

.trabalhos li {
    float: left;
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;
    position: relative;
    color: #FFF;
    border-bottom: .5em solid #851944;
}

.blog small {
	position: relative;
	top: -2em;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}

footer h2{
	font-size: 3em;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.palavra-home {
	font-family: "Shadows Into Light", cursive;
	color: #D5447E;
	font-weight: bolder;
	position: absolute;
}

.eficiencia {
	top: 35%;
	left: 75%;
	transform: rotate(30deg);
}

.boas-praticas {
	top: 35%;
	right: 75%;
	transform: rotate(-30deg);
}

.codigo-limpo {
	top: 40%;
	left: 85%;
	transform: rotate(30deg);
}

.css3 {
	top: 60%;
	right: 85%;
	transform: rotate(-30deg);
}

.html5 {
	top: 20%;
	right: 80%;
	transform: rotate(-30deg);
}

.javascript {
	top: 20%;
	left: 80%;
	transform: rotate(30deg);
}

.acessibilidade {
	top: 20%;
	right: 30%;
	transform: rotate(-30deg);
	
}

.responsivo {
    top: 65%;
    right: 65%;
    transform: rotate(-30deg);
}

.otimizacoes {
    top: 65%;
    left: 80%;
    transform: rotate(30deg);
}

.agilidade {
    top: 20%;
    left: 30%;
    transform: rotate(30deg);
}

.design {
    top: 65%;
    left: 65%;
    transform: rotate(30deg);
}
.titulo-principal {
	position: relative;
}
.blog .inicio-post{
	background-color: #F2FFFC;
	position: absolute;
	top: 4em;
	right: 4em;
	left: 30%;
	height: 6em;
	padding: 1.5em;
	color: black;
}
.blog .mais-recente {
	background-color: #F2FFFC;
}
.blog .mais-recente a {
	color: #F26;
}

.blog li {
	width: 30%;
}

div {
	border-radius: 50px;
	width: 100px;
	height: 100px;
	background-color: blue;
	text-align: center;
	line-height: 100px;
}

.bolas {
	perspective: 4px;
}

.bola1 {
	transform: translatez(2px);
	
}

.bola2 {
	transform: translatez(-1px);
}