html {
	font-size: 20px;
}

body{
	font-family: "Crimson Text", "Times New Roman" , serif;
	background-color: #F2FFFC;
	line-height: 1.5;
}

h1, h2, .subtitulo-principal{
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	text-shadow: 5px 5px #000;
	
}
.titulo-principal {
	background-color: #851944;
	color: #FFF;
	text-align: center;
	padding: 1.5rem;
	border-bottom: .5rem solid black;
}
main a{
	color: #851944;
}

main a:hover{
	color: red;
}

.subtitulo-texto {
	font-size: 1.5rem;
	clear: both;
}

main p {
	text-align: justify;
	margin: 1em 0;
}

.menu-navegacao {
	background-color: #3C1D3D;
	color: #F2FFFC;
 	text-align: center;
}

.menu-navegacao a {
	color: inherit;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	text-transform: uppercase;
}

.menu-navegacao a:hover, .menu-navegacao a:focus{
	text-shadow: 0 0 2px #DA70D6;
}

.menu-navegacao h1{
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.icones-sociais li{
	display: inline-block;
}

.social-radape {
	margin: 1rem;
}

.rodape-pagina {
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	text-align: right;
	background-image: radial-gradient(ellipse at right bottom, rgba(60, 29, 61, 0.8),
    rgba(60, 29, 61, 0.8) 65%,
    black 65%, black 70%, transparent 70%, transparent);
    background-size: 30% 100%;
	background-repeat: no-repeat;
	background-position: right;
}

.citacao, .menu-navegacao, .rodape-pagina {
	padding: 1rem;
}

.container {
	width: 750px;
	margin: auto;
	padding: 1.5rem 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.icones-sociais a{
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -9999px;
}

.github{
	background-image: url("../img/github.png");
}

.twitter{
	background-image: url("../img/twitter.png");
}

.linkedin{
	background-image: url("../img/linkedin.png");
}

main {
	width: 85%;
	padding-bottom: 4rem;
}

.imagem-eu, .menu-navegacao{
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.imagem-eu {
	position: absolute;
	right: 0;
	top: 0;
	height: 300px;
}

aside {
	position: absolute;
	top: 310px;
	right: 0;
	width: 15%;
}	